# =======================================
# Gradle
# =======================================
.gradle/
build/
out/

# Mantener los archivos del wrapper......
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# =======================================
# IDEs
# =======================================

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/


# =======================================
# Java
# =======================================
*.class
*.log


# =======================================
# OS files
# =======================================
.DS_Store
Thumbs.db


# =======================================
# Data files
# =======================================
/data/*
!/data/readme.txt